h3 {
    text-align: center;
}

form {
    display: grid;
    place-items: center;
}

input {
    margin: 1em;
    height: 30px;
    border-radius: 5px;
    width: 250px;
    font-size: 1.2rem;
}

label {
    color: purple;
    font-size: 1.3rem;
    font-weight: bold;
}

.btn {
    margin-top: 1.5em;
    color: purple;
    background-color: rgba(255, 255, 255, 0.95);
    padding: .6em 2em;
    font-size: 1.2rem;
    border-radius: 10px;
}

.btn:hover, .btn:focus {
    color: #fff;
    background-color: purple;
}

.back {
    text-decoration: none;
    margin-left: 3em;
    color: palevioletred;
    font-size: 1.2rem;
    font-weight: bold;
}