.person {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.pic {
    object-fit: cover;
    object-position: center;
    height: 150px;
    max-width: 100%;
}

.name {
    color: red;
}

.goals {
    color: blue;
}

.delete {
    font-size: 1.2rem;
    color: red;
    width: 25%;
    align-content: flex-end;
    margin-left: auto;
    margin-top: auto;
    background-color: rgba(255, 255, 255, 0.95);
    border: 0;
}